* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #2c3e50; 
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); 
}

.navbar-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 15px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


.navbar .logo {
    font-size: 28px; 
    font-weight: bold;
    color: #ecf0f1; 
    text-decoration: none;
}


.navbar .navbar-links {
    list-style-type: none; 
    display: flex;
}

.navbar .navbar-links li {
    margin-right: 20px; 
}

.navbar .navbar-links a {
    color: #ecf0f1; 
    text-decoration: none; 
    font-weight: bold;
    transition: 0.3s; 
}


.navbar .navbar-links a:hover {
    color: #3498db;
}

.logo {
    display: flex; /* Use flexbox to align the logo horizontally */
    align-items: center; /* Vertically center the logo */
}

/* Style the logo image */
.logo img {
    width: 47px; 
    height: auto; 
    margin-right: 10px; 
    border-radius: 22px;
}